td {
background-color: #FFFAF0;
font-size: 18px;
width: 160px;
}

td:first-child {
width: 400px;
}

td:last-child {
width: 120px;
}

th {
background-color: #73d8e5;
font-size: 18px;
}

th:last-child {
background-color: #d795f5;
}

th.center {
text-align: center;
}

caption {
   caption-side: top;
   text-align: left;
   padding: 10px 0;
   font-size: 32px;
   color: black;
}
